body { 
  color:black;
  background-color:#aaaaaa;
  font-family:"Bitstream Vera Sans",Helvetica,Arial,sans-serif;
  padding:0cm;
  margin:0cm;
}
a:link {
  color:#0c600c;
}
.page {
  height:100%;
  border:none;
  padding:0;
  margin:0;
  border-collapse: collapse;
}
.sidebar {
  background-color:#e59f70;
  width:122px;
  text-align:center;
  vertical-align:top;
  border:none;
  padding:.2cm;
  margin:0;
}
.pagecontent {
  background-color:#aaaaaa;
  vertical-align:top;
  border:none;
  padding:.4cm;
  margin:0;
}
.navlinks {
  text-align:left;
}
.sidebar ul {
  padding:0cm 0cm 0cm .4cm;
  margin:0cm;
  list-style:none;
}
.sidebar ul li {
  padding:.1cm 0cm 0cm 0cm;
  margin:0cm;
}

table.advantages {
  border:none;
}
.even {
  background:#dbd9b1;
}
.odd {
  background:#b1c4d1;
}
table.advantages tr td, table.advantages tr th {
  border:none;
  padding:.2cm;
  margin:0cm;
  -moz-border-radius:3px;
}
a.mail {
  font-style:italic;
}
.userList{
  list-style:none;
  padding:0cm;
  margin:0cm 0cm .5cm 0cm;
}
.userList li{
  padding:.3cm;
  -moz-border-radius:3px;
}
p.even, p.odd, p.evenodd, li.even, li.odd, li.evenodd {
  margin:0;
  padding:.3cm .1cm .3cm .1cm;
  -moz-border-radius:3px;
}
.newsItem {
  font-size:smaller;
  margin-top:1.5cm;
}
