body { 
  color:black;
  background-color:white;
  font-family:"Bitstream Vera","Times New Roman",Times,serif; 
}
a {
  color:black;
  text-decoration:none;
}
.sidebar {
  display:none;
}
table.advantages {
  border:none;
}
table.advantages tr td, table.advantages tr th { 
  border:thin black ridge;
  padding:.2cm;
  margin:0cm;
  -moz-border-radius:3px;
}
a.mail {
  font-style:italic;
}
.userList{
  list-style:none;
  padding:0cm;
  margin:0cm 0cm .5cm 0cm;
}
.userList li{
  border:thin black ridge;
  padding:.3cm;
  -moz-border-radius:3px;
}
p.even, p.odd {
  margin:0;
  padding:.3cm .1cm .3cm .1cm;
}
p.even, p.odd {
  margin:0;
  padding:.3cm .1cm .3cm .1cm;
  -moz-border-radius:3px;
  border:thin black ridge;
}
div.sitenav {
    text-align:right;
    font-size:smaller;
}
